<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- application.properities中配置的变量 -->
	<springProperty scope="context" name="logLevel" source="log.level" />
	<springProperty scope="context" name="logPath" source="log.path" />
	<springProperty scope="context" name="logName" source="log.name" />

	<!-- 控制台输出 -->
	<appender name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 日志文件输出 -->
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
	   
	    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
	        <FileNamePattern>${logPath}/${logName}.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
	        <MaxHistory>30</MaxHistory>
	        <maxFileSize>50MB</maxFileSize>
	    </rollingPolicy>
	   
	    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
	        <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
	    </encoder>
	</appender>

	<!-- 日志输出级别 -->
	<root level="${logLevel}">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>

</configuration>

