<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangt.sjz.dao.FoodOrderDetailMapper">

	<resultMap id="BaseResultMap" type="com.zhangt.sjz.domain.FoodOrderDetail">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="order_id" property="orderId" jdbcType="INTEGER" />
		<result column="food_id" property="foodId" jdbcType="INTEGER" />
		<result column="food_name" property="foodName" jdbcType="VARCHAR" />
		<result column="food_count" property="foodCount" jdbcType="INTEGER" />
		<result column="food_price" property="foodPrice" jdbcType="DOUBLE" />
		<result column="detail_price" property="detailPrice" jdbcType="DOUBLE" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id,order_id,food_id,food_name,food_price,food_count,detail_price,create_time,update_time
	</sql>


	<insert id="insert" parameterType="com.zhangt.sjz.domain.FoodOrderDetail">
		insert into food_order_detail(order_id,food_id,food_name,food_price,food_count,detail_price,create_time,update_time)
		values(
		#{orderId},
		#{foodId},
		#{foodName},
		#{foodPrice},
		#{foodCount},
		#{detailPrice},
		now(),
		now())
	</insert>
	
	<update id="update" parameterType="com.zhangt.sjz.domain.FoodOrderDetail">
		update food_order_detail
		<set>
			update_time = now()
		</set>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="list">
		delete from food_order_detail
		<where>
			id in
			<foreach collection="list" item="id" open="(" separator="," close=")">
				#{id,jdbcType=INTEGER}
			</foreach>
		</where>
	</delete>


	<select id="queryTotal" parameterType="com.zhangt.sjz.domain.FoodOrderDetail" resultType="int">
		select
		count(*)
		from food_order_detail
		where 1=1
		<if test="orderId !=null">
			and order_id = #{orderId}
		</if>
		<if test="startTimeStr !=null and startTimeStr != ''">
			<![CDATA[ and create_time>=#{startTimeStr} ]]>
		</if>
		<if test="endTimeStr !=null and endTimeStr != ''">
			<![CDATA[ and create_time<#{endTimeStr} ]]>
		</if>
	</select>


	<select id="query" parameterType="com.zhangt.sjz.domain.FoodOrderDetail"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from food_order_detail
		where 1=1
		<if test="orderId !=null">
			and order_id = #{orderId}
		</if>
		<if test="startTimeStr !=null and startTimeStr != ''">
			<![CDATA[ and create_time>=#{startTimeStr} ]]>
		</if>
		<if test="endTimeStr !=null and endTimeStr != ''">
			<![CDATA[ and create_time<#{endTimeStr} ]]>
		</if>
		order by update_time desc
	</select>


</mapper>